.blog {
  padding-top: 41px;
  padding-bottom: 60px;
}

.blog__wrapper {
  display: flex;
  justify-content: center;
}

.blog__box {
  margin-bottom: 60px;

  text-align: center;
}

.blog__box h2 {
  margin: 0;
  margin-bottom: 19px;

  font-family: $cg-font;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
}

.blog__box a {
  display: inline-block;
  padding-bottom: 5px;

  vertical-align: baseline;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #1d1613;

  border-bottom: 1px solid #a87b62;
}

.blog__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: $tablet-width) {
  .blog {
    padding-top: 19px;
    padding-bottom: 35px;
  }

  .blog__wrapper {
    flex-direction: column;
  }

  .blog__inner {
    display: block;

    margin-bottom: 50px;
  }

  .blog__box h2 {
    margin-bottom: 20px;
  }

  .blog__box a {
    padding-bottom: 3px;
  }

  .blog__item:first-child {
    margin-bottom: 50px;
  }
}

@media (max-width: $mobile-width) {
  .blog {
    padding-top: 12px;
    padding-bottom: 30px;
  }

  .blog__box {
    margin-bottom: 50px;
  }

  .blog__inner {
    margin-bottom: 40px;
  }


  .blog__item:first-child {
    margin-bottom: 40px;
  }
}
