.catalog__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  display: flex;
  justify-content: center;
  flex-basis: 31%;
  margin-bottom: 4.1%;

  &:not(:nth-child(3n)) {
    margin-right: 3.5%;
  }
}

.catalog__link img {
  display: block;
  width: 270px;
  height: auto;
  margin-bottom: 22px;
}

.catalog__description {
  text-align: center;
}

.catalog__description span {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  color: #1d1613;
}

.catalog__description h3 {
  margin: 0;
  margin-bottom: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #1d1613;
}

.catalog__button-filter {
  display: none;
}

@media (max-width: $tablet-width) {
  .catalog__link img {
    width: 206px;
  }

  .catalog__button-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 50px;

    color: #ffffff;

    background-color: #a87b62;
    border: 1px solid #a87b62;

    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:focus,
    &:active {
      opacity: 0.3;
    }
  }

  .catalog__item {
    margin-bottom: 5.1%;
  }
}

@media (max-width: $mobile-width) {
  .catalog__button-filter {
    margin-bottom: 40px;
  }

  .catalog__link img {
    width: 130px;
    margin-bottom: 17px;
  }

  .catalog__item {
    flex-basis: 45%;
    margin-bottom: 9%;
  }

  .catalog__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .catalog__item:not(:nth-child(2n)) {
    margin-right: 10%;
  }

  .catalog__description h3 {
    max-width: 130px;
  }
}
