.faq {
  padding-top: 60px;
  padding-bottom: 56px;
}

.faq h2 {
  margin: 0;
  margin-bottom: 48px;

  font-family: $cg-font;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #1d1613;
}

.faq__list {
  @include reset-list;

  padding-left: 100px;
  padding-right: 100px;
}

.faq__item {
  display: flex;
  flex-direction: column;

  padding-left: 48px;
  padding-right: 48px;
  padding-top: 43px;
  padding-bottom: 43px;

  border-top: 1px solid #a87b62;
  border-left: 1px solid #a87b62;
  border-right: 1px solid #a87b62;

  &:last-child {
    border-bottom: 1px solid #a87b62;
  }
}

.faq__item h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;

  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.faq__item p {
  display: none;
}

.faq__item--open {
  &:first-child {
    padding-bottom: 36px;
  }

  h4 {
    margin-bottom: 15px;
  }

  p {
    display: block;
    max-width: 60%;
    margin: 0;

    font-style: normal;
    font-weight: normal;
    line-height: 130%;
  }
}

.faq__item br {
  display: none;
}

.faq__icon {
  width: 17px;
  height: 24px;

  stroke: #a87b62;
  fill: #ffffff;
}

.faq__icon--up-dir {
  transform: rotate(-180deg);
  transition: 0.5s;
}


@media (max-width: $tablet-width) {
  .faq {
    padding-top: 35px;
    padding-bottom: 33px;
  }

  .faq__list {
    padding: 0;
  }

  .faq__item:first-child {
    padding-bottom: 43px;
  }

  .faq__item:first-child h4 {
    margin-bottom: 25px;
  }

  .faq__item p {
    max-width: 95%;
    margin-bottom: 3px;
  }

  .faq__icon {
    width: 25px;
  }
}

@media (max-width: $mobile-width) {
  .faq {
    padding-top: 30px;
    padding-bottom: 26px;
  }

  .faq h2 {
    margin-bottom: 28px;
  }

  .faq__item {
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 19px;
    padding-bottom: 18px;

    &:first-child {
      padding-bottom: 18px;
      padding-top: 16px;
    }

    &:first-child h4 {
      margin-bottom: 15px;
    }
  }

  .faq__item h4 {
    font-size: 16px;
    line-height: 140%;
  }

  .faq__icon {
    width: 22px;
    height: 25px;
  }

  .faq__item p {
    max-width: 85%;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 143%;
  }

  .faq__item br {
    display: block;
  }
}
