.gallery {
  padding-top: 56px;
  padding-bottom: 130px;
}

.gallery__box {
  margin-bottom: 60px;

  text-align: center;
}

.gallery__box h2 {
  margin: 0;
  margin-bottom: 17px;

  font-family: $cg-font;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
}

.gallery__box a {
  display: inline-block;
  padding-bottom: 5px;

  vertical-align: baseline;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #1d1613;

  border-bottom: 1px solid #a87b62;
}

.gallery__sign {
  font-family: $cg-font;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 130%;
  letter-spacing: 0.03em;

  color: #000000;
}

.gallery__wrapper {
  display: flex;
  justify-content: center;
}

.gallery__small-pictures-wrapper {
  display: flex;
  margin-right: 30px;
}

.gallery__big-pictures-wrapper {
  display: flex;
}

.gallery__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--earrings {
    margin-right: 30px;
  }

  &--jewellery-set {
    margin-right: 16px;
  }

  &--small-picture {
    align-items: flex-end;
  }
}

.gallery__image {
  display: block;
}


@media (max-width: $tablet-width) {
  .gallery {
    padding-top: 33px;
    padding-bottom: 80px;
  }

  .gallery__box {
    margin-bottom: 60px;
  }

  .gallery__box h2 {
    margin-bottom: 18px;
  }

  .gallery__box a {
    padding-bottom: 4px;
  }

  .gallery__image {
    &--01 {
      width: 133px;
    }

    &--02 {
      width: 133px;
    }

    &--03 {
      width: 231px;
    }

    &--04 {
      width: 134px;
    }

    &--05 {
      width: 126px;
    }

    &--06 {
      width: 126px;
    }

    &--07 {
      width: 134px;
    }
  }

  .gallery__small-pictures-wrapper {
    margin-right: 18px;
  }

  .gallery__block {
    &--earrings {
      margin-right: 18px;
    }

    &--jewellery-set {
      margin-right: 10px;
    }
  }
}

@media (max-width: $mobile-width) {
  .gallery {
    padding-top: 26px;
    padding-bottom: 70px;
  }

  .gallery__box {
    margin-bottom: 46px;
  }

  .gallery__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .gallery__small-pictures-wrapper {
    margin-right: 0;
    margin-bottom: 9px;
  }

  .gallery__block {
    &--earrings {
      margin-right: 15px;
    }

    &--jewellery-set {
      flex-direction: row-reverse;
      align-items: baseline;
      margin-right: 0;
    }
  }

  .gallery__image {
    &--01 {
      width: 130px;
      margin-bottom: 15px;
    }

    &--02 {
      width: 130px;
    }

    &--03 {
      width: 145px;
    }

    &--04 {
      width: 145px;
    }

    &--05 {
      width: 130px;
      margin-right: 15px;
    }

    &--06 {
      display: none;
    }

    &--07 {
      display: none;
    }
  }
}
