.info-list {
  @include reset-list;
}

.info-list__item:not(:last-child) {
  margin-bottom: 22px;
}

.info-list__link {
  line-height: 130%;
  color: #ffffff;
}

.info-list--header {
  display: none;
}

@media (max-width: $tablet-width) {
  .info-list--header {
    display: block;
    margin-bottom: 45px;

    .info-list__item {
      margin-bottom: 21px;
    }

    .info-list__link {
      font-size: 18px;
      color: rgba(255, 255, 255, 0.75);
    }

    .info-list__item:nth-child(3n) {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .info-list {
    margin-bottom: 46px;
  }

  .info-list--header {
    margin-bottom: 35px;
  }
}
