.nav {
  @include reset-list;


  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav__link {
  display: block;
  padding: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1d1613;

  transition: ease-in 0.5s;

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .nav {
    display: block;
    margin-bottom: 40px;
  }

  .nav__item {
    margin-bottom: 21px;
  }

  .nav__link {
    margin: 0;

    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
  }
}

@media (max-width: $mobile-width) {
  .nav {
    margin-bottom: 30px;
  }
}
