.page-footer {
  margin-bottom: auto;
  flex-shrink: 0;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 73px;

  background-color: #000000;

  &--main-page {
    margin-bottom: 25px;
  }
}

.page-footer__subscribe {
  display: flex;
  flex-direction: column;
  flex-basis: 42.7%;
}

.page-footer__nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 49%;
  margin-top: 7px;
}

.page-footer__list {
  @include reset-list;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 25px;
}

.page-footer__list--social {
  margin-right: 0;
}

.page-footer__icon-wrapper {
  display: inline-flex;
}

.page-footer__link {
  display: block;
  margin-bottom: 22px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
}

.page-footer__icon {
  width: 15px;
  height: 15px;

  .page-footer__icon--fb {
    width: 8px;
  }
}

.page-footer__text {
  margin-left: 15px;
}

@media (max-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: column;

    padding-top: 50px;
    padding-bottom: 55px;
    padding-right: 150px;

    &--main-page {
      margin-bottom: 0;
    }
  }

  .page-footer__subscribe {
    margin-bottom: 47px;
  }

  .page-footer__nav {
    margin-top: 0;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__wrapper {
    padding-right: 15px;
  }

  .page-footer__nav {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .page-footer__text {
    display: none;
  }

  .page-footer__list {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .page-footer__list--social {
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 0;

    .page-footer__link {
      margin-bottom: 0;
    }
  }

  .page-footer__icon {
    width: 20px;
    height: 21px;
    margin-right: 30px;

    &--fb {
      width: 12px;
    }

    &--twitter {
      width: 20px;
      height: 24px;
    }
  }
}
