
.pages__link {
  margin-left: 6px;
  margin-right: 6px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #9b9997;
}

.pages__item--current {
  .pages__link {
    color: #1d1613;
  }
}

.pages__item--tablet,
.pages__item--mobile {
  display: none;
}

@media (max-width: $tablet-width) {
  .pages__link {
    margin-left: 7px;
  }

  .pages__item--tablet {
    display: block;
  }
}

@media (max-width: $mobile-width) {
  .pages__link {
    margin-left: 9px;
    margin-right: 9px;

    color: #1d1613;
  }

  .pages__item {
    display: none;
  }

  .pages__item--current,
  .pages__item--mobile {
    display: block;
  }
}

