
.pagination {
  @include reset-list;

  display: flex;
  justify-content: center;
}

.pagination__link {
  margin-left: 6px;
  margin-right: 6px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #9b9997;
}

.pagination__item--current {
  .pagination__link {
    color: #1d1613;
  }
}

.pagination__item--tablet,
.pagination__item--mobile {
  display: none;
}

@media (max-width: $tablet-width) {
  .pagination__link {
    margin-left: 7px;
  }

  .pagination__item--tablet {
    display: block;
  }
}

@media (max-width: $mobile-width) {
  .pagination__link {
    margin-left: 9px;
    margin-right: 9px;

    color: #1d1613;
  }

  .pagination__item {
    display: none;
  }

  .pagination__item--current,
  .pagination__item--mobile {
    display: block;
  }

  .pagination--catalog {
    .pagination__item {
      display: block;
    }

    .pagination__link {
      margin-left: 12px;
      margin-right: 12px;
    }
  }
}

