.pagination {
  display: flex;
  justify-content: center;
  padding: 32px;
  counter-reset: page;
}

.pagination__item {
  padding: 0;
  padding-left: 6px;
  padding-right: 6px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #9b9997;

  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.pagination__item:after {
  counter-increment: page;
  content: counter(page);
}

.pagination__item.is-selected:after {
  color: #1d1613;
}
