.range {
  width: 200px;
  padding-bottom: 10px;
  padding-top: 12px;
}

.range__thumbs {
  display: flex;
  padding-top: 10px;
  padding-bottom: 13px;
}

.range__scale {
  position: relative;

  width: 100%;
  height: 1px;

  background-color: #f0eae4;
}

.range__bar {
  position: absolute;
  left: 30%;

  width: 90px;
  height: 1px;

  background-color: #a87b62;
}

.range__thumb {
  position: absolute;
  top: -7px;
  width: 15px;
  height: 15px;

  background-color: #a87b62;
  border-radius: 50%;

  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }

  &--min {
    left: 22.7%;
  }

  &--max {
    right: 17.5%;
  }
}

.range__controls {
  display: flex;
}

.range__controls input {
  margin: 0;
  padding: 0;
  width: 50%;

  font-family: $poppins-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  border: none;

  text-align: center;

  color: #1d1613;
  background-color: inherit;

  &:first-child {
    margin-right: 20px;
    margin-left: 10px;
  }
}

@media (max-width: $tablet-width) {
  .range {
    width: 324px;
    padding: 10px;
  }

  .range__bar {
    left: 20.6%;

    width: 158px;
  }

  .range__thumb {
    top: -8px;

    width: 18px;
    height: 18px;

    &--min {
      left: 17%;
    }

    &--max {
      right: 23%;
    }
  }

  .range__thumbs {
    padding-top: 17px;
    padding-bottom: 16px;
  }

  .range__controls input {
    font-size: 16px;

    &:first-child {
      margin: 0;
      padding-right: 35px;
    }
  }
}

@media (max-width: $mobile-width) {
  .range {
    width: 250px;
    padding: 0;
  }

  .range__bar {
    left: 58px;

    width: 120px;
  }

  .range__thumbs {
    padding-top: 17px;
  }

  .range__thumb--min {
    left: 16%;
  }

  .range__thumb--max {
    right: 21.5%;
  }

  .range__controls input {
    &:first-child {
      padding-right: 25px;
    }
  }
}
