.range__thumbs {
  position: relative;

  margin-bottom: 4px;
  height: 10px;
}

.range__scale {
  position: relative;

  margin-top: 25px;
  height: 1px;

  background-color: #f0eae4;
}

.range__bar {
  position: absolute;
  left: 30%;

  width: 90px;
  height: 1px;

  background-color: #a87b62;
}

.range__thumb {
  position: absolute;
  top: -7px;
  width: 15px;
  height: 15px;

  background-color: #a87b62;
  border-radius: 50%;

  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.range__thumb--min {
  left: 45px;
}

.range__thumb--max {
  right: 35px;
}

.range__controls {
  display: flex;
  justify-content: space-between;
}

.range__controls input {
  margin: 0;
  padding: 0;
  width: 20%;

  font-family: $poppins-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  border: none;

  text-align: center;

  color: #1d1613;
  background-color: inherit;

  &:first-child {
    margin-right: 20px;
    margin-left: 33px;
  }
}

@media (max-width: $tablet-width) {
  .range__scale {
    margin-top: 32px;
  }

  .range__bar {
    left: 63px;

    width: 158px;
  }

  .range__thumb {
    top: -8px;

    width: 18px;
    height: 18px;
  }

  .range__thumbs {
    margin-bottom: 7px;
  }

  .range__thumb--max {
    right: 65px;
  }

  .range__controls input {
    font-size: 16px;

    &:first-child {
      margin-right: 25px;
      margin-left: 24px;
    }
  }
}

@media (max-width: $mobile-width) {
  .range__bar {
    left: 58px;

    width: 120px;
  }

  .range__thumb--min {
    left: 40px;
  }

  .range__thumb--max {
    right: 54px;
  }

  .range__controls input {
    &:first-child {
      margin-right: 10px;
    }
  }
}
