.slider {
  position: relative;

  padding-top: 120px;
  padding-bottom: 42px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.slider__button {
  position: absolute;
  top: 160px;

  display: flex;
  align-items: center;
  width: 29px;
  height: 11px;
  padding: 0;

  border: none;
  background-color: transparent;

  cursor: pointer;

  transition: ease-in 0.5s;

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }

  &--right {
    right: 0;
  }
}

.slider__icon {
  display: inline-block;
  width: 29px;
  height: 11px;

  vertical-align: middle;

  stroke: #a87b62;

  &--left-arrow {
    transform: rotate(-180deg);
  }
}

.slider__title {
  margin-bottom: 59px;

  text-align: center;
}

.slider__title h2 {
  margin: 0;
  margin-bottom: 25px;

  font-family: $cg-font;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
}

.slider__title a {
  display: inline-block;

  vertical-align: baseline;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #1d1613;

  border-bottom: 1px solid #a87b62;

  transition: ease-in 0.5s;

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.slider__inner {
  overflow: hidden;
}

.slider__list {
  display: flex;
  margin-bottom: 20px;
}

.slider__item {
  flex: 0 0 23%;
  margin-right: 2.6%;
}

.slider__link {
  display: block;
}

.slider__link img {
  display: block;
  height: auto;
  margin-bottom: 22px;
}

.slider__description {
  text-align: center;
}

.slider__description h3 {
  margin: 0;
  margin-bottom: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #1d1613;
}

.slider__price {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  color: #1d1613;
}

.slider__pagination {
  padding: 32px;
}

.slider--product {
  padding-top: 60px;
  padding-bottom: 93px;

  .slider__title h2 {
    margin-bottom: 20px;
  }

  .slider__title a {
    padding-bottom: 5px;
  }

  .slider__list {
    margin-bottom: 20px;
  }
}

.embla__slide {
  position: relative;
}

@media (max-width: $tablet-width) {
  .slider {
    padding-top: 71px;
    padding-bottom: 17px;
    max-width: 678px;
  }

  .slider__list {
    margin: 0;
    margin-bottom: 10px;
  }

  .slider__link img {
    width: 324px;
  }

  .slider__item {
    flex: 0 0 47.8%;
    margin-right: 4.4%;
  }

  .slider__title {
    margin-bottom: 50px;
  }

  .slider__title h2 {
    margin-bottom: 20px;
  }

  .slider__title a {
    padding-bottom: 3px;
  }

  .slider__button {
    top: 65px;

    width: 36px;
    height: 15px;
  }

  .slider__icon {
    width: 36px;
    height: 15px;
    margin-top: 9px;
  }

  .slider--product {
    padding-top: 35px;
    padding-bottom: 43px;

    .slider__list {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: $mobile-width) {
  .slider {
    padding-top: 61px;
    padding-bottom: 11px;
  }

  .slider__control {
    display: block;

    margin-bottom: 40px;
  }

  .slider__pagination {
    padding: 33px;
  }

  .slider__button {
    display: none;
  }

  .slider__list {
    margin-bottom: 0;
  }

  .slider__link img {
    width: 130px;
    margin-bottom: 17px;
  }

  .slider__description h3 {
    max-width: 130px;
  }

  .slider__item {
    display: inline-flex;
    justify-content: center;
    flex: 0 0 100%;
    margin-right: 0;
  }

  .slider--product {
    padding-top: 28px;
    padding-bottom: 34px;

    .slider__list {
      margin-bottom: 0;
    }
  }
}
