.slider {
  padding-top: 120px;
  padding-bottom: 42px;
}

.slider__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 59px;
}

.slider__button {
  display: flex;
  align-items: center;
  width: 29px;
  height: 11px;
  padding: 0;

  border: none;
  background-color: inherit;

  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.slider__icon {
  display: inline-block;
  width: 29px;
  height: 11px;

  vertical-align: middle;

  stroke: #a87b62;
  transform: rotate(-180deg);

  &--right-arrow {
    transform: rotate(0deg);
  }
}

.slider__box {
  text-align: center;
}

.slider__box h2 {
  margin: 0;
  margin-bottom: 25px;

  font-family: $cg-font;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
}

.slider__box a {
  display: inline-block;

  vertical-align: baseline;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #1d1613;

  border-bottom: 1px solid #a87b62;
}

.slider__inner {
  display: flex;
  flex-direction: column;
}

.slider__list {
  @include reset-list;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.slider__pagination {
  padding: 32px;
}

@media (max-width: $tablet-width) {
  .slider {
    padding-top: 71px;
    padding-bottom: 19px;
  }

  .slider__box h2 {
    margin-bottom: 20px;
  }

  .slider__box a {
    padding-bottom: 3px;
  }

  .slider__button {
    width: 36px;
    height: 15px;
  }

  .slider__icon {
    width: 36px;
    height: 15px;
    margin-top: 9px;
  }

  .slider__control {
    margin-bottom: 50px;
  }

  .slider__list {
    margin: 0;

    margin-bottom: 10px;
  }
}

@media (max-width: $mobile-width) {
  .slider {
    padding-top: 61px;
    padding-bottom: 11px;
  }

  .slider__control {
    display: block;

    margin-bottom: 40px;
  }

  .slider__pagination {
    padding: 33px;
  }

  .slider__button {
    display: none;
  }

  .slider__list {
    margin-bottom: 0;
  }
}
