.user-list {
  @include reset-list;
}

.user-list__item:not(:last-child) {
  margin-bottom: 22px;
}

.user-list__link {
  line-height: 130%;
  color: #ffffff;
}


@media (max-width: $mobile-width) {
  .user-list {
    margin-bottom: 40px;
  }
}
